:root {
    --color-primary: #141922;
    --color-dark-primary: #080B12;
    --color-secondary: #282828;
    --color-tertiary: #7D7F84;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
}

h4 {
    color: white;
    padding: .7rem 0;
}

h5 {
    color: white;
    padding-left: .7rem;
}

h6 {
    color: white;
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.img-block {
    width: 100%;
    display: block;
}

.pad-y-1_5{
    padding: 1.5rem 0;
}

/* TOP-CONTAINER */
.top-container {
    flex-grow:1;
    display: flex;
    overflow: auto;
}

/* sidebar */
.sidebar {
    background-color: black;
    width: 70px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar .top-sidebar {
    flex-shrink: 0;
}

.logo-small {
    width: 40px;
}

.logo-large {
    display: none;
}

.sidebar-list a,
.bottom-sidebar a {
    color:var(--color-tertiary);
    display: flex;
    padding: .7rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-text {
    display: none;
}

.list-icon {
    font-size: 20px;
}

.sidebar .middle-sidebar {
    padding-top: 1rem;
    flex-grow: 1;
    overflow: auto;
}

.sidebar .middle-sidebar .playlist {
    display: none;
}

.sidebar .bottom-sidebar {
    flex-shrink: 0;
}

.profile {
    color: white;
}

.sidebar a:hover, 
.menu a:hover,
.bottom-left-icon i:hover {
    color: white;
    cursor: pointer;
}


/* main-content */
.main-content {
    background-color: var(--color-primary);
    flex-grow: 1;
    overflow: auto;
}

.upgrade {
    background-color: var(--color-dark-primary);
    padding: 1rem 1rem;
    position: fixed;
    left: 70px;
    right: 0;
    top: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border: 1px solid white;
    border-radius: 20px;
    padding: .7rem 3rem;
    background-color: transparent;
    color: white;
    float: right;
}

.button:hover {
    transform: scale(1.1);
}

.main-center {
    padding: 1rem;
}

.menu {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
    line-height: 3rem;
    margin-top: 4rem;
}

.menu a {
    color: var(--color-tertiary);
    display: inline-block;
    padding: 0 .5rem;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 3px;
    background: #C3F56A;;
    transition: width .4s;
}

.link:hover::after {
    width: 100%;
}

/* col */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.row-margin {
    margin: 0 -.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.col-xs-1-2 {
    flex-shrink: 0;
    padding: .5rem;
    flex-basis: 50%;
}

.card-text {
    text-align: center;
}

.subtitle {
    color: var(--color-tertiary);
    font-weight: bold;
    font-size: .8rem;
}

.card-img {
    position: relative;
}

.img-overlay {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.card:hover .img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-overlay i {
    color: white;
    font-size: 80px;
}

.round-img {
    border-radius: 50%;
}

.round-img {
    overflow: hidden;
    object-fit: cover;
}

/* BOTTOM-CONTAINER */
.bottom-container {
    background-color: var(--color-secondary);
    flex-shrink:0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.song-row {
    display: flex;
    align-items: center;
}

.card-img-small {
    width: 6vw; 
}

.card-text-small {
    margin-left: .5rem;
    margin-right: 1rem;
}

.card-text-small .subtitle:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.bottom-left-icon i {
    color: var(--color-tertiary);
    display: inline-block;
    font-size: 15px;
    padding: 0 .2rem;
}

.bottom-right-icon i {
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 0 .2rem;
}

.line-bg {
    margin: 0 .2rem;
    width: 10vw;
    height: 5px;
    border-radius: 10px;
    background-color: #5A5A5A;
}

.line-bg-large {
    flex-grow: 1;
    width: 20vw;
    position: relative;
}

.line-progress {
    background-color: white;
    height: 5px;
    border-radius: 10px;
    width: 30%;
}

.line-progress:hover {
    background-color: #C3F56A;
}

.bar-row {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar-row > * {
    flex-grow: 1;
    padding-bottom: .5rem;
}

.music-icon button {
    background-color: transparent;
    border: none;
}

.music-icon i{
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 0 .5rem;
}

i.play {
    font-size: 25px;
}

i.play:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.minute {
    color: white;
    font-size: 12px;
    flex-shrink: 0;
    padding: 0 .5rem;
}


